DIPLOM/.DS_Store
DIPLOM/code_dir/.DS_Store
DIPLOM/code_dir/.idea/code_dir.iml
DIPLOM/code_dir/.idea/jupyter-settings.xml
DIPLOM/code_dir/.idea/misc.xml
DIPLOM/code_dir/.idea/modules.xml
DIPLOM/code_dir/.idea/vcs.xml
DIPLOM/code_dir/.idea/inspectionProfiles/Project_Default.xml
.DS_Store
/.idea
