DIPLOM/.DS_Store
DIPLOM/code_dir/.DS_Store
DIPLOM/code_dir/.idea/code_dir.iml
DIPLOM/code_dir/.idea/jupyter-settings.xml
DIPLOM/code_dir/.idea/misc.xml
DIPLOM/code_dir/.idea/modules.xml
DIPLOM/code_dir/.idea/vcs.xml
DIPLOM/code_dir/.idea/inspectionProfiles/Project_Default.xml
.DS_Store
/.idea
.DS_Store
.DS_Store
DIPLOM/.idea/DIPLOM.iml
DIPLOM/.idea/jupyter-settings.xml
DIPLOM/code_dir/article_analysis/article_scraping/__pycache__/unian.cpython-312.pyc
DIPLOM/.idea/vcs.xml
DIPLOM/.idea/modules.xml
DIPLOM/.idea/misc.xml
DIPLOM/code_dir/article_analysis/article_scraping/__pycache__/unian.cpython-312.pyc
/DIPLOM/code_dir/article_analysis/article_scraping/__pycache__
.DS_Store
/DIPLOM/code_dir/article_analysis/__pycache__
DIPLOM/code_dir/.env
/DIPLOM/code_dir/article_analysis/milvus_db/volumes
DIPLOM/__pycache__/__init__.cpython-312.pyc
/DIPLOM/code_dir/__pycache__
/DIPLOM/code_dir/article_analysis/postgres_db/__pycache__
/DIPLOM/code_dir/article_analysis/postgres_db/models/__pycache__
/DIPLOM/code_dir/article_analysis/milvus_db/__pycache__
/DIPLOM/code_dir/article_analysis/utils/__pycache__
